body{
    padding: 0;
    margin: 0;
    background-color: #1f2235;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
 /* header */
#header{
    width: 100%;
    background-color: #1f2235;
    color: #FFFFFF;
    box-shadow: 0px 2px 8px #23263a ;
    top: 0;
    left: 0;
}
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.navlogo{
    font-weight: 900;
    font-size: 35px;
    color: #FFFFFF;
    padding-top: 5px;
    cursor: pointer;
}
.navmenu{
    display: flex;
}
.navlist{
    display: flex;
    margin-left: 30px;
}
.navlist a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
.navlist a:hover{
    color: #e2414d;
    transition: all 0.5s ease;
}
 /* content */
#content{
}
  /* secteur home */
.home{
    background-color: #23263a;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 8px #1f2235 ;
    align-items: center;
    justify-content: center;
}
.titlehome{
    flex: 1;
    max-width: 30%;
    padding: 20px;
    color: #ffffff;
    font-weight: bold; 
}
.titlehome h2{
    color: #ffffff;
    font-size: 30px; 
}
.titlehome h2 span{
    color: #e2414d;
    font-size: 50px; 
}
.titlehome h2 span p{
    color: #ffffff;
    font-size: 20px; 
    font-weight:100;
    font-style: italic;
}
.imghome{
    text-align: center;
    max-width: 100%;
    height: auto;
    padding: 0px; 
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right top, #e2414d, #cf3f4a, #bc3c46, #a93a42, #96373e);
    border-radius: 64% 36% 28% 72% / 23% 42% 58% 77% ;
    overflow: hidden;
}
.imghome img{
    display: block;
    width: 100%;
    height: auto;
}
  /* secteur about */
.about{
    background-color: #1f2235;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0;
}
.about h3{
    color: #e2414d;
    font-size: 30px; 
}
.about ul{
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    text-align: center;
}
.about ul li{
    margin: 20px;
    height: 70px;
    border-radius: 30px 30px 30px 30px;
    background-color: #23263a;
    color: #FFFFFF;
    padding: 10px;
    padding-top: 10px;
    display: flex; 
    align-items: center;
    justify-content: center; 
}
.about ul li:hover{
    background-color: #1f2235;
}
  /* secteur experience */
.experience{
    background-color: #23263a;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.experience h3{
    color: #e2414d;
    font-size: 30px; 
}
.experience ul{
    list-style-type: none;
    justify-content: center;
    text-align: center;
}
.experience ul li{
    padding: 10px;
}
 /* secteur work */
.work{
    background-color: #1f2235;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.work h3{
    color: #e2414d;
    font-size: 30px; 
}
  /* secteur contact */
.contact{
    background-color: #23263a;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact h3{
    color: #e2414d;
    font-size: 30px; 
}
.contact form{

}
.contact form input[type="email"]{
    background-color: #1f2235;
    border:  2px solid #e2414d;
    border-radius: 20px 20px 20px 20px;
    height: 30px;
    width: 270px;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
}
.contact form input[type="submit"]{
    background-color: #23263a;
    border:  2px solid #e2414d;
    border-radius: 20px 20px 20px 20px;
    height: 50px;
    width: 100px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}
.contact form input[type="submit"]:hover{
    background-color: #e2414d;
}
.contact form textarea{
    background-color: #1f2235;
    border:  2px solid #e2414d;
    border-radius: 20px 20px 20px 20px;
    height: auto;
    width: 270px;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
}
#footer{
    align-items: center;
    text-align: center;
    justify-content: center;
}